/* Carousel styling */
            #introCarousel,
            .carousel-inner,
            .carousel-item,
            .carousel-item.active {
                height: 90vh;
            }
            .carousel-item img {
                width: 100%;
                height: 100%;
                object-fit: cover; /* Ensures the image covers the area without distortion */
            }
            .carousel-item:nth-child(1) {
                background-image: url('https://img2.dilyno.com/jQPPl2ZzTYNpxS_pZd2GKQbFcD-asEDxyG1lNPUH-Bk/rs:fill:1920:0:0/aHR0cHM6Ly9zMy1kaWx5LXdlYi5kaWx5bm8uY29tL3dlYmVjb20vMjAyNC8xMS85YmJjYjZhMGQ2ZWY1MGY5MWZmYzZhNGE0NGFkZmVhOS5wbmc.webp');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }

            .carousel-item:nth-child(2) {
                background-image: url('https://img.mwc.com.vn/giay-thoi-trang?w=1920&h=0&FileInput=/Resources/Silde/2024/11/04/z5981481292145_6ef08c59d7f600522fd5b511651ba286.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }

            .carousel-item:nth-child(3) {
                background-image: url('https://www.vascara.com/uploads/web/900/landing-page/Collection-soiree-glamour/TOP-BANNER1-1-2x.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            }

            /* Height for devices larger than 576px */
            @media (min-width: 992px) {
                #introCarousel {
                    margin-top: -58.59px;
                }
            }

            .navbar .nav-link {
                color: #000 !important;

            }
            
            
            
            
.mb-0, .my-0 {
    margin-top: 30px !important;
}
a {
    color: #c56370
}
a:hover {
    color: #ee8080;
}
            .row{
                margin-top:25px;
            }
            #gotvuong, #moiNhat, #gotnhon, #hogot{
                color: #c56370;
            }
            .product-item {
                margin-bottom: 20px; /* Adds space between each product item */
            }

            @media (min-width: 768px) {
                .product-item {
                    margin-bottom: 30px; /* Larger spacing for medium and above screens */
                }
            }

            @media (min-width: 1200px) {
                .product-item {
                    margin-bottom: 40px; /* Larger spacing for large screens */
                }
            }
            /* Container to make the image a square */
            .product-item .card-img {
                object-fit: cover;  /* Ensures the image covers the entire area without distortion */
                height: 350px;      /* Sets a fixed height for all images */
                width: 100%;        /* Ensures the image takes the full width of its container */
            }

            .card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .card-body {
                padding: 10px;
/*                text-align: center;*/
            }
            
.card-body .card-title {
    font-size: 1.25rem; /* Kích cỡ chữ của tiêu đề */
    color: #ee8080 ; ;   /* Màu chữ của tiêu đề */
    /*font-weight: bold;*/
    margin-bottom: 0;
    margin-top: 10px;
}

.card-body .card-title a {
    text-decoration: none;
    color: #ee8080 ;
    transition: color 0.3s ease;
}

.card-body .card-title a:hover {
    color: #c56370; /* Màu khi rê chuột qua tiêu đề */
}

.card-body .btn-info {
    background-color: #f5f0e5 !important; /* Màu nền của nút */
    color: #2c1014;           /* Màu chữ của nút */
    font-size: 1rem;          /* Kích cỡ chữ của nút */
    border-radius: 0.25rem;   /* Bo góc */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card-body .btn-info:hover {
    background-color: #e4e6e9 !important; /* Màu khi rê chuột qua nút */
    color: #2c1014;            /* Màu chữ khi rê chuột */
}

/* Đổi màu khi nhấn nút */
.skin-light .btn-info:not([disabled]):not(.disabled).active,
.skin-light .btn-info:not([disabled]):not(.disabled):active,
.skin-light .show > .btn-info.dropdown-toggle {
    background-color: #f5f0e5 !important;
}

.skin-light .btn-xemthem  {
    margin-top: 20px;
    font-weight: 500;
    border-radius: .5rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.05);
    font-size: 12px;
    padding: 17px 29px 16px 29px;
    line-height: 1;
}

.skin-light .btn-outline-danger {
    color: #ee8080 !important;
    background-color: transparent !important;
    border: 2px solid #ee8080 !important;
}




            


            
